ul{
  li{
    //border-bottom: dashed 1px #0000AA;
    height: 30px;
    &:nth-child(1){
      @include span(4);
      border-bottom: dashed 1px #0000AA;
    }
    &:nth-child(2){
      @include span(4);
      border-bottom: dashed 1px #00AA00;
    }
    &:nth-child(3){
      @include span(4);
      border-bottom: dashed 1px #0000AA;
    }
    a{

    }
  }
}

input[type=button]{
  @include btn;
  @include btn-info;
}
a{
   @include btn;
   @include btn-error;
}