<!DOCTYPE html>
<html lang="en">

<head>
    <title>订单详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="framework/style/weui.css">
    <link rel="stylesheet" type="text/css" href="framework/example/example.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script src="framework/example/zepto.min.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="framework/vue.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_q3imcbbriu9xusor.css">
    <script src="framework/vue-router.js"></script>
    <script src="framework/bscroll.js"></script>
</head>

<body class="">
    <div class="page js_show">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <!-- 顶部 -->
                <div class="page__bd">
                    <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
                    <div class="weui-search-bar" id="searchBar">
                        <form class="weui-search-bar__form">
                            <div class="weui-search-bar__box">
                                <i class="weui-icon-search"></i>
                                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                            </div>
                            <label class="weui-search-bar__label" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                 </label>
                        </form>
                        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                    </div>
                    <div class="weui-cells searchbar-result" id="searchResult" style="display:none">
                        <div class="weui-cell weui-cell_access">
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>实时搜索文本</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 顶部 -->

                <!-- 中间部分 -->
                <div class="weui-tab__panel" style="padding-bottom: 0;">


                    <!-- 放内容的 -->
                    <div class="weui-flex box">
                        <div class="width94">
                            <div class="boxL listTab">
                                <ul class="scrollsLeft">
                                    <li v-for="(item,index) in titleList" :class="{'active':item.color}"><a @click="goAnchor('#anchor-'+index,index)" v-cloak>{{item.title}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="scrollsRight" ref="foodsWrapper">
                                <div class="boxR">
                                    <div class="scrollRight list-item food-list-hook" v-bind:key="item" :id="'anchor-'+index" v-for="(item,index) in titleList">
                                        <a class="weui-cell weui-cell_access" href="javascript:;">
                                            <div class="weui-cell__bd">
                                                <div class="weui-loadmore weui-loadmore_line" style="margin: 1.5em auto 0px;">
                                                    <span class="weui-loadmore__tips" style="background-color: #FFFFFF !important;" v-cloak>{{item.title}}</span>
                                                </div>
                                            </div>
                                            <div class="weui-cell__ft">更多</div>
                                        </a>
                                        <div class="weui-grids">
                                            <a href="javascript:;" v-for="item in 9" class="weui-grid">
                                                <div class="weui-grid__icon">
                                                    <img src="framework\lg.jpg" alt="">
                                                </div>
                                                <p class="weui-grid__label">Grid</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <!-- 放内容的 -->
                </div>
                <!-- 中间部分 -->


            </div>
        </div>
    </div>

</body>
<script>
    var ERR_OK = 200;
    new Vue({
        el: '.weui-tab__panel',
        data() {
            return {
                goods: [],
                listHeight: [],
                scrollY: 0,
                offsetH: '',
                overf: {
                    'overflow-y': 'scroll'
                },
                titleList: [{
                    title: '肉禽蛋品',
                    color: true
                }, {
                    title: '冷冻食品',
                    color: false
                }, {
                    title: '酒水饮料',
                    color: false
                }, {
                    title: '肉禽',
                    color: false
                }, {
                    title: '蛋品',
                    color: false
                }, {
                    title: '禽',
                    color: false
                }, {
                    title: '蛋',
                    color: false
                }, {
                    title: '品',
                    color: false
                }, {
                    title: '肉',
                    color: false
                }]
            }
        },
        created() {
            this.offsetH = document.body.offsetHeight
            var offsetH = this.offsetH - 50;
            console.log(offsetH)
            $('.listTab').css('height', offsetH);
            $('.boxR').css('height', offsetH);
            $('.box').css('height', offsetH);
            $('.weui-tab__panel').css('height', offsetH);

            // this._initScroll()
            // this._calculateHeight();
        },
        currentIndex() {
            for (let i = 0; i < this.listHight.length; i++) {
                let height1 = this.listHight[i]
                let height2 = this.listHight[i + 1]
                if (!height2 || (this.scrollY >= height1 && this.scrollY < height2)) {
                    return i
                }
            }
            return 0
        },
        methods: {
            goAnchor(selector, i) {
                var anchor = this.$el.querySelector(selector);
                // document.body.scrollTop = anchor.offsetTop;
                document.querySelector('.boxR').scrollTop = anchor.offsetTop;
                for (var e = 0; e < this.titleList.length; e++) {
                    this.titleList[e].color = false;
                    this.titleList[i].color = true;
                }
            },
            _initScroll() {
                this.menuScroll = new BScroll(this.$refs.menuWrapper, {})
                this.foodsScroll = new BScroll(this.$refs.foodsWrapper, {
                    probeType: 3
                })
                this.foodsScroll.on('scroll', () => {
                    this.scrollY = Math.abs(Math.round(pos.y))
                })
            },
            _calculateHeight() {
                console.log(this)
                console.log(this.$el)
                let foodList = this.$refs.foodsWrapper.querySelector('.food-list-hook')
                let height = 0
                this.listHight.push(height)
                for (let i = 0; i < foodList.length; i++) {
                    let item = foodList[i]
                    height += item.clientHeight
                    this.listHight.push(height)
                }
            }

        }
    })


    //电梯导航
    var dtNav = $("ul.dtNav li");
    dtNav.not(".last").hover(function() {
        $(this).addClass("hover");
    }, function() {
        $(this).removeClass("hover");
    });

    dtNav.not(".last").click(function() {
        dtNav.find("span").removeClass("acive"); //先删除所有span的样式
        $(this).find("span").addClass("acive"); //再进行添加

        //准备滚动
        var _index = $(this).index(); //获取他的序列
        //alert(_index);
        var _top = $("#three .comBanner").eq(_index).offset().top; //获取每个楼层与顶部的高度
        //alert(_top);
        $("body,html").animate({
            scrollTop: _top
        }, 500)

    });


    //浏览器滚动事件
    $(window).scroll(function() {
        var _t = $(this).scrollTop(); //获取浏览器滚动的高度
        if (_t > 1000) {
            $("#diantiNav").css({
                opacity: '1',
                transform: 'scale(1)',
                visibility: 'visible'
            })
        } else {
            $("#diantiNav").css({
                opacity: '0',
                transform: 'scale(0)',
                visibility: 'hidden'
            })
        }
        //滚动事件
        var dT = $("#three .comBanner");
        dT.each(function() {
            var _index = $(this).index(); //楼层的序列号
            var _Height = dT.eq(_index).offset().top + $(this).height() / 2; //获取每个楼层与顶部的高度
            //如果浏览器滚动高度小于楼层高度
            if (_t < _Height) {
                dtNav.find("span").removeClass("acive");
                dtNav.eq(_index).find("span").addClass("acive");
                return false;
            }
        })
    });
    //回去顶部
    $("#diantiNav .dtNav .last").click(function() {
        $("body,html").animate({
            scrollTop: 0
        }, 500)
    });
</script>

</html>